<app-menu></app-menu>

<router-outlet></router-outlet>
<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button
  pButton
  (click)="mostrarNombre()"
  icon="pi pi-bell"
  iconPos="right"
  class="p-button-help"
  label="Cambiar nombre"
></button>

<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat nam,
    obcaecati, exercitationem fugit animi, possimus veritatis ipsa natus omnis
    odio eligendi modi harum cumque? Repellat dignissimos ipsa praesentium
    magnam rem.
  </p>
</p-card> -->
